<div class='artist-search'>
  <form action='/artist-search' , method='GET'>
    <input type='text' name='artist' placeholder='Search in Spotify...' />
    <button type='submit'>Search for an artist</button>
  </form>
</div>